
google-cloud-aiplatform
google-cloud-storage
google-cloud-texttospeech
google-cloud-vision
streamlit
pydub
ffmpeg-python
fastapi
uvicorn
requests
gunicorn
python-multipart
python-dotenv
celery[redis]
redis
flower
pyyaml
tarsafe
