google-cloud-aiplatform
streamlit
pydub
google-cloud-texttospeech
google-cloud-vision
google-cloud-storage
ffmpeg-python
fastapi
uvicorn
requests
gunicorn
python-multipart
python-dotenv
celery[redis]
redis
flower
pyyaml
celery[redis]
fastapi
ffmpeg-python
google-cloud-aiplatform
google-cloud-storage
google-cloud-texttospeech
google-cloud-vision
gunicorn
pydub
python-dotenv
python-multipart
requests
streamlit
tarsafe
uvicorn
